<launch>
    <node name="encoders_node" pkg="phidget_encoders" type="encoders_node.py" output="screen">
        <param name="min_pub_period" value="0.05"/>
    </node>
    <node name="encoders_odo_node" pkg="phidget_encoders" type="encoders_odo_node.py" output="screen">
        <param name="wheel_size" value="1.315825176"/>
        <param name="dist_btw_wheels" value="0.9866"/>
        <param name="left_correction_factor" value="1"/>
        <param name="frame_id" value="phidget_encoder_odom"/>
        <remap from="odom" to="phidget_encoder_odo"/>
    </node>
</launch>
