# UBlox GPS
ACTION=="add", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE="664", GROUP="plugdev" SYMLINK+="ublox"

# Hokuyo
ACTION=="add", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", ATTRS{idVendor}=="15d1", MODE="664", GROUP="plugdev" SYMLINK+="hokuyo"

# Sick Lasers
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTF6S0H5", MODE="664", GROUP="plugdev" SYMLINK+="ftdi1"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTF6S1NG", MODE="664", GROUP="plugdev" SYMLINK+="ftdi2"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTFQPT20", MODE="664", GROUP="plugdev" SYMLINK+="ftdi3"

# Microstrain IMU
ACTION=="add", ATTRS{product}=="3DM-GX3-25 Orientation Sensor", ATTRS{serial}=="6223.05093______", MODE="664", GROUP="plugdev" SYMLINK+="msimu"

# MTi IMU: linking /dev/xsens to /dev/ttyUSBx
SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{manufacturer}=="Xsens", ATTRS{product}=="Xsens USB-serial converter", SYMLINK+="xsens", GROUP="plugdev", MODE="0664"

# Arduino Board
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{product}=="Arduino Uno", SYMLINK+="arduino"

# Phidgets
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="06c2", ATTRS{idProduct}=="00[3-a][0-f]", MODE="666"


# Cameras
#   Serial number was obtained with the following command:
#     udevadm info --attribute-walk --name=/dev/video0 | grep serial

# Front
SUBSYSTEM=="video4linux", ATTR{name}=="UVC Camera (046d:0821)", ATTRS{serial}=="3C33E4E0", SYMLINK+="cam_front"

# Front Right
SUBSYSTEM=="video4linux", ATTR{name}=="UVC Camera (046d:0821)", ATTRS{serial}=="D6377CC0", SYMLINK+="cam_front_right"

# Rear
SUBSYSTEM=="video4linux", ATTR{name}=="UVC Camera (046d:0821)", ATTRS{serial}=="86014CC0", SYMLINK+="cam_rear"
