ACTION=="add", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", ATTRS{idVendor}=="15d1", MODE="664", GROUP="plugdev" SYMLINK+="hokuyo"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTF6S0H5", MODE="664", GROUP="plugdev" SYMLINK+="ftdi1"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTF6S1NG", MODE="664", GROUP="plugdev" SYMLINK+="ftdi2"
ACTION=="add", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE="664", GROUP="plugdev" SYMLINK+="ublox"
ACTION=="add", ATTRS{product}=="3DM-GX3-25 Orientation Sensor", ATTRS{serial}=="6223.05093______", MODE="664", GROUP="plugdev" SYMLINK+="msimu"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{serial}=="A1001akA", MODE="664", GROUP="plugdev" SYMLINK+="ftdi3"

#ACTION=="add", ATTRS{manufacturer}=="Xsens", ATTRS{serial}=="XSS4XY23", MODE="664", GROUP="plugdev" SYMLINK+="xsens"
SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", ATTRS{manufacturer}=="Xsens", ATTRS{product}=="Xsens USB-serial converter", SYMLINK="xsens", GROUP="plugdev", MODE="0664"