<launch>

    <!--node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms2">
        <param name="port" value="/dev/ftdi1"/>
        <remap from ="scan" to="sick_scan2"/>
        <param name="resolution" value="0.5"/>
        <param name="frame_id" value="sick_laser2"/>
        <param name="baud" value="500000"/>
    </node-->

    <node pkg="LMS1xx" type="LMS100" name="topTilted">
        <param name="host" value="192.168.1.201"/>
        <remap from ="scan" to="front_top_scan"/>
        <param name="frame_id" value="front_top_lidar"/>
    </node>

    <node pkg="LMS1xx" type="LMS100" name="frontBottom">
        <param name="host" value="192.168.1.202"/>
        <remap from ="scan" to="front_bottom_scan"/>
        <param name="frame_id" value="front_bottom_lidar"/>
    </node>

    <!--node pkg="sick_ldmrs" type="sickldmrs.py" name="sickldmrs">
        <param name="host" value="192.168.1.200" />
    </node-->

    <!--node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms3">
        <param name="port" value="/dev/ftdi3"/>
        <remap from ="scan" to="sick_scan2"/>
        <param name="resolution" value="0.25"/>
        <param name="frame_id" value="sick_laser2"/>
        <param name="baud" value="500000"/>
    </node-->

</launch>
