<launch>
    <!-- Base link is referenced at the center point of rear axial projected to the ground plane-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_front_top_lidar" args="1.78, 0.0, 1.82 0 0.0 0 /base_link /front_top_lidar 1000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_front_bottom_lidar" args="1.87, 0.0, 0.755 0 0 0 /base_link /front_bottom_lidar 1000" />
</launch>
