<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_front_base" args="1.75, 0.0, 1.32 -0.0 0.140 -0.0 /robot_1/base_link /robot_1/camera_base 100" ns="robot_1"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_front_base_to_img" args="0.0, 0.0, 0.0 -1.5707963267949 0.0 -1.5707963267949 /robot_1/camera_base /robot_1/camera_image 100" ns="robot_1" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_board" args="0.0, -0.3, -0.3 0.0 -1.5707963267949 0.0 /robot_1/base_link /robot_1/board 100" ns="robot_1"  />
</launch>
