<launch>
    <node name="robot_1_vehicle_detect" pkg="cooperative_perception" type="laser_vehicle" output="screen" ns="robot_1">
        <param name="target_frame" value="/robot_1/base_link"/>
        <param name="discontinue_thres" value="0.5"/>
        <param name="filter_pts" value="2"/>
        <param name="car_width" value="1.0"/>
        <param name="width_tolerance" value="0.5"/>
        <param name="detect_angle_tolerance" value="90"/>
        <param name="euc_dist_range" value="5.0"/>
        <param name="range_thres" value="0.1"/>
        <param name="detected_vehicle_frame" value="/robot_2/base_link"/>
        <remap from="scan_in" to="scan"/>
    </node>
</launch>
