<launch>

    <group ns="EA">
        <include file="$(find infrastructure_road_monitoring)/launch/camera.launch">
            <arg name="device" value="/dev/video1" />
        </include>
        <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>
    </group>

    <group ns="SDE">
        <include file="$(find infrastructure_road_monitoring)/launch/camera.launch">
            <arg name="device" value="/dev/video2" />
        </include>
        <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>
    </group>

    <!-- bag goes to ~/.ros -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="-e '/(.*)/camera/image_raw/compressed(.*)'" output="screen" />

</launch>