<launch>

    <group ns="EA">
        <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen" >
            <param name="video_device" value="/dev/video1" />
            <param name="pixel_format" value="yuyv" />
            <param name="image_width" value="320" />
            <param name="image_height" value="240" />
        </node>
        <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>
    </group>

    <group ns="SDE">
        <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen" >
            <param name="video_device" value="/dev/video2" />
            <param name="pixel_format" value="yuyv" />
            <param name="image_width" value="320" />
            <param name="image_height" value="240" />
        </node>
        <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>
    </group>

    <!-- bag goes to ~/.ros -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="-e '/(.*)/camera/image_raw/compressed(.*)'" output="screen" />

</launch>