<launch>

    <include ns="EA" file="$(find infrastructure_road_monitoring)/Launch/extract_from_camera.launch">
        <arg name="device" value="/dev/video1" />
    </include>

    <include ns="SDE" file="$(find infrastructure_road_monitoring)/Launch/extract_from_camera.launch">
        <arg name="device" value="/dev/video2" />
    </include>

    <node pkg="infrastructure_road_monitoring" type="t_junction_go.py" name="t_junction_go" output="screen">
        <remap from="tracksSDE" to="SDE/tracks"/>
        <remap from="tracksEA" to="EA/tracks"/>
    </node>

</launch>