<launch>

    <include ns="EA" file="$(find infrastructure_road_monitoring)/launch/extract_from_camera.launch">
        <arg name="device" value="/dev/video1" />
    </include>

    <include ns="SDE" file="$(find infrastructure_road_monitoring)/launch/extract_from_camera.launch">
        <arg name="device" value="/dev/video2" />
    </include>

    <node pkg="infrastructure_road_monitoring" type="t_junction_go.py" name="t_junction_go" output="screen">
        <remap from="tracksSDE" to="SDE/tracks"/>
        <remap from="tracksEA" to="EA/tracks"/>
        <rosparam command="load" file="$(find infrastructure_road_monitoring)/launch/t_junction_from_above.yaml"/>
    </node>

    <node pkg="infrastructure_road_monitoring" type="roi_select" name="ea_roi_select" output="screen">
        <remap from="image" to="/EA/camera/image_raw" />
        <param name="poly" value="/t_junction_go/ea_poly" />
    </node>

    <node pkg="infrastructure_road_monitoring" type="roi_select" name="sde_roi_select" output="screen">
        <remap from="image" to="/SDE/camera/image_raw" />
        <param name="poly" value="/t_junction_go/sde_poly" />
    </node>

</launch>