<launch>

    <include ns="EA" file="$(find infrastructure_road_monitoring)/launch/extract_from_bag.launch" />

    <include ns="SDE" file="$(find infrastructure_road_monitoring)/launch/extract_from_bag.launch" />

    <node pkg="infrastructure_road_monitoring" type="t_junction_go.py" name="t_junction_go" output="screen">
        <remap from="tracksSDE" to="SDE/tracks"/>
        <remap from="tracksEA" to="EA/tracks"/>
        <rosparam command="load" file="$(find infrastructure_road_monitoring)/launch/t_junction_from_above.yaml"/>
    </node>

</launch>