
<launch>

    <group ns="EA">
        <node pkg="vision_motion_detection" type="background_extractor" name="background_extractor" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>

        <include file="$(find infrastructure_road_monitoring)/launch/motion_detect.launch">
            <arg name="camera_topic" value="camera/image_raw" />
        </include>
    </group>

    <group ns="SDE">
        <node pkg="vision_motion_detection" type="background_extractor" name="background_extractor" output="screen">
            <remap from="image" to="camera/image_raw" />
        </node>

        <include file="$(find infrastructure_road_monitoring)/launch/motion_detect.launch">
            <arg name="camera_topic" value="camera/image_raw" />
        </include>
    </group>

    <param name="/infra_url" type="string" value="http://137.132.22.82:15016/infrastructure" />

    <node pkg="infrastructure_road_monitoring" type="t_junction_go.py" name="t_junction_go" output="screen">
        <remap from="tracksSDE" to="SDE/tracks"/>
        <remap from="tracksEA" to="EA/tracks"/>
        <rosparam command="load" file="$(find infrastructure_road_monitoring)/launch/t_junction_from_above.yaml"/>
    </node>

    <node pkg="vision_motion_detection" type="roi_select" name="ea_roi_select" output="screen">
        <remap from="image" to="/EA/camera/image_raw" />
        <param name="poly" value="/t_junction_go/ea_poly" />
    </node>

    <node pkg="vision_motion_detection" type="roi_select" name="sde_roi_select" output="screen">
        <remap from="image" to="/SDE/camera/image_raw" />
        <param name="poly" value="/t_junction_go/sde_poly" />
    </node>

</launch>