<launch>
    <node pkg="rolling_window" type="rolling_window_pcl" name="rolling_window_pcl" output="screen">
	<remap from="scan_in" to="sick_scan2" />
	<param name="odom_trigger_thresh" value="0.5" type="double" />
	<param name="front_bound" value="10.0" type="double" />
	<param name="back_bound" value="-3.0" type="double" />
    </node>

    <node pkg="rolling_window" type="road_surface" name="road_surface" output="screen">
    <param name="scan_model_path" value="$(find rolling_window)/svm_model/scan_20121115.model"/>
    <param name="scan_scale_path" value="$(find rolling_window)/svm_model/scan_20121115.range"/>
    <param name="point_model_path" value="$(find rolling_window)/svm_model/point_20121212.model"/>
    <param name="point_scale_path" value="$(find rolling_window)/svm_model/point_20121212.range"/>
    <param name="record_path" value="$(find rolling_window)/data_folder"/>
	<param name="search_radius" value="0.3" type="double" />
	<param name="curvature_thresh" value="0.005" type="double" />
	<param name="curvature_visual_limit" value="0.1" type="double" />
 	<param name="normalZ_visual_limit_" value="0.2" type="double" />
	<param name="curvature_visualization" value="true"/>
	<param name="normalZ_visualization" value="false"/>
	<param name="extract_training_data_scan" value="false"/>
	<param name="extract_training_data_point" value="false"/>
    </node>

    <node pkg="microstrain_rpy" type="rpy" name="rpy_publisher" output="screen">
	<remap from="data" to="/ms/imu/data" />
    </node>

</launch>    
