<launch>
    <node name="vehicle_detect" pkg="cooperative_perception" type="laser_vehicle" output="screen" ns="$(env ROBOT)">
        <param name="target_frame" value="$(env ROBOT)/base_link"/>
        <param name="discontinue_thres" value="0.5"/>
        <param name="filter_pts" value="2"/>
        <param name="car_width" value="1.0"/>
        <param name="width_tolerance" value="0.5"/>
        <param name="detect_angle_tolerance" value="90"/>
        <param name="euc_dist_range" value="4.0"/>
        <param name="range_thres" value="0.2"/>
        <param name="detected_vehicle_frame" value="$(env ROBOT_AHEAD)/base_link"/>
        <!--remap from="scan_in" to="sickldmrs/scan3"/-->
        <remap from="scan_in" to="/$(env ROBOT)/front_bottom_scan" />
        <remap from="/vehicle_pose" to="/$(env ROBOT)/vehicle_pose"/>
        <remap from="/vehicle_vel" to="/$(env ROBOT)/vehicle_vel"/>
    </node>
</launch>
