<launch>
    <node pkg="ground_extraction" type="ground_extraction" name="ground_extraction">
        <param name="image_transport" value="compressed"/>
	<remap from= "/camera_front/image_raw" to = "/camera_front/image_ipm"/>

    </node>

    <node pkg="vision_lane_detection" type="ipm" name="ipm">
        <param name="image_transport" value="compressed"/>
	<param name="visualization_flag" value="false"/>
	<!--remap from= "/camera_front/image_raw" to = "/camera_front/image_seg"/-->

	<param name="odom_control" value="false"/>
	<param name="ipm_center_x" value="9.0"/>
	<param name="ipm_center_y" value="0.0"/>
	<!--param name="ipm_ROI_height" value="12.0"/-->
	<param name="ipm_ROI_height" value="12.0"/>	
	<param name="ipm_ROI_near_width" value="4.0"/>
	<param name="ipm_ROI_far_width" value="12.0"/>
	<param name="publish_dis_thresh" value="0.2"/>
	<param name="scale" value="20.0"/>
    </node>
</launch>
