<launch>

  <param name = "use_sim_time" value = "true"/>

  <node name = "local_map" pkg = "local_map_ext" type = "local_map_node" >

    <remap from = "scan_in" to = "base_scan" />

    <remap from = "static_map" to = "static_map_lane" />

  </node>
  
  <node name = "map_server_lane" pkg = "map_server_ext" type = "map_server" 
  
	args = "$(find luis_MVRRTs)/maps/Map_Params.yaml" >

    <remap from="static_map" to="static_map_lane"/>

    <remap from="map" to="lane_map"/>

  </node>
	
  <node name = "stageros" pkg = "stage" type = "stageros" 
  
	args = "$(find luis_MVRRTs)/maps/Engineering.world" > </node>

  <node name = "fake_localization" pkg = "fake_localization" type = "fake_localization" />

  <node name = "golfcar_pp" pkg = "golfcar_ppc" type = "golfcar_pp" />

  <node name = "speed_advisor" pkg = "speed_advisor" type = "speed_advisor" />
  
</launch>

