<launch>
	 <node name="ped_momdp" pkg="ped_momdp_sarsop" type="ped-momdp-sarsop" respawn="false" output="screen" ns="/golfcart">
	    <param name="model_file" value="$(find ped_momdp_sarsop)/policy-files/20120308/rss-lane-u1.pomdpx"/>
	    <param name="policy_file" value="$(find ped_momdp_sarsop)/policy-files/20120308/rss-lane-momdp-u1.policy"/>
	    <param name="simLen" value="30"/>
	    <param name="simNum" value="1"/>
            <param name="frequency" value="1.5"/>
	    <param name="stationary" value="false"/>
	    <remap from="robot_0/amcl_pose" to="amcl_pose"/>
	    <remap from="robot_0/cmd_vel" to="cmd_vel"/>
            <remap from="odom" to="odom"/>
	 </node>
	 <node name="ped_momdp_local_transform" pkg="ped_momdp_sarsop" type="local_frame"  ns="/golfcart">
	    <param name="global_frame" value="/golfcart/map"/>
        <param name="threshold" value="0.0"/>
	</node>
</launch>
