<launch>
	 <node name="ped_momdp" pkg="ped_momdp_sarsop" type="ped-momdp-sarsop" respawn="false" output="screen">
	    <param name="model_file" value="$(find ped_momdp_sarsop)/rss-lane.pomdpx"/>
	    <param name="policy_file" value="$(find ped_momdp_sarsop)/rss-lane-700.policy"/>
	    <param name="simLen" value="100"/>
	    <param name="simNum" value="100"/>
	    <remap from="robot_0/amcl_pose" to="amcl_pose"/>
	    <remap from="robot_0/cmd_vel" to="momdp_vel"/>
            <remap from="odom" to="encoder_odom"/>
	 </node>
	<node name="transform_ped_to_map" type="TransformPedtoMap" pkg="dummyPed" output="screen">
		<param name="ped_id" type="str" value="7163, 6914, 6868 "/>
	</node>
</launch>
