<launch>

    <!--node pkg="MODT" type="spatial_temporal_segmentation" name="spatial_temporal_segmentation" ns="iMiev" output="screen"-->
    <node pkg="MODT" type="spatial_temporal_segmentation" name="spatial_temporal_segmentation" output="screen">
		<param name="program_mode" value="1"/>
		<param name="skip_scan_times" value="1"/>
		<param name="downsample_interval" value="1"/>
		<param name="scanNum_perVector" value="6"/>
		<param name="feature_vector_length" value="75"/>
		<param name="DATMO_model_path" value="$(find MODT)/data_and_model/MODT_campus_fused.model"/>
		<param name="DATMO_scale_path" value="$(find MODT)/data_and_model/MODT_campus_fused.range"/>
		<!--param name="laser_frame_id" value="iMiev/front_bottom_lidar"/>
		<param name="odom_frame_id" value="iMiev/odom"/-->
		<param name="laser_frame_id" value="front_bottom_lidar"/>
		<param name="odom_frame_id" value="odom"/>
    </node>

</launch>

