<launch>

    <node pkg="MODT" type="spatial_temporal_segmentation" name="spatial_temporal_segmentation" output="screen">
		<param name="program_mode_" value="1"/>
		<param name="DATMO_model_path" value="$(find MODT)/data_and_model/MODT.model"/>
		<param name="DATMO_scale_path" value="$(find MODT)/data_and_model/MODT.range"/>
    </node>

</launch>

