<launch>

    <node pkg="MODT" type="spatial_temporal_segmentation" name="spatial_temporal_segmentation" ns="iMiev" output="screen">
		<param name="program_mode" value="1"/>
		<param name="DATMO_model_path" value="$(find MODT)/data_and_model/MODT.model"/>
		<param name="DATMO_scale_path" value="$(find MODT)/data_and_model/MODT.range"/>
		<param name="laser_frame_id" value="iMiev/front_bottom_lidar"/>
		<param name="odom_frame_id" value="iMiev/odom"/>
    </node>

</launch>

