<launch>

	<!--head used for ped dataset-->
    <node pkg="MODT" type="ST_autolabelling" name="ST_autolabelling" ns="golfcart" output="screen">
	
	<!--head used for vehicle dataset-->
	<!--node pkg="MODT" type="ST_autolabelling" name="ST_autolabelling" output="screen"-->
		
		<!--derived labelling-0, auto labelling 1, detection 2-->
		<param name="program_mode" value="1"/>
		<param name="skip_scan_times" value="1"/>
		<param name="downsample_interval" value="1"/>
		<param name="scanNum_perVector" value="15"/>
		
		<!-- type1 uses my compressed scan method; type2 use 3d features-->
		<param name="feature_extraction_type" value="2"/>
		
		<!--for my method-->
		<!--for pose-variant features: 16 + 10*n-->
		<!--for pose-invariant features: 16 + 12*n -2 -->
		<param name="pose_variant_features" value ="false"/>
		
		<!--for 3d features method-->
		<!--for usr 12 -->
		<!--for vfh 308 -->
		<param name="calc_3dfeautres_method" value="2"/>
		<param name="feature_vector_length" value="308"/>

		<param name="map_image_path" value="$(find MODT)/launch/obstacle_layer_modifiedunknown.png"/>
		<param name="DATMO_model_path" value="$(find MODT)/data_and_model/vehicle101.model"/>
		<param name="DATMO_scale_path" value="$(find MODT)/data_and_model/vehicle101.range"/>
		
		<!--parameters for autolabelling of plaza pedestrian data -->
		<param name="laser_frame_id" value="golfcart/front_bottom_lidar"/>
		<param name="odom_frame_id" value="golfcart/odom"/>
		<param name="map_frame_id" value = "golfcart/map"/>
		<param name="speed_threshold" value="0.0"/>
		<param name="gating_min_size" value="0.1"/>
		<param name="graph_seg_k" value="0.5"/>
		
		<!--parameters for derived labelling of campus vehicle data -->
		<!--param name="speed_threshold" value="2.0"/>
		<param name="gating_min_size" value="0.5"/>
		<param name="graph_seg_k" value="3.0"/-->
		
		<param name="search_neighbourNum" value="20"/>
		<param name="control_trainingSample_number" value="10"/>
		<param name="dilation_size" value="1"/>
    </node>
	<node name="map_server" pkg="map_server" type="map_server" args="$(find MODT)/launch/obstacle_layer.yaml">
		<param name="frame_id" value = "golfcart/map"/>
		<remap from ="map" to = "obstacle_layer"/>
	</node>
</launch>

