<launch>

    <node name="hd_monitor_master" pkg="diagnostic_common_diagnostics" type="hd_monitor.py"
            args="$(optenv HOME /home)" />

    <node name="sensors_monitor_master" pkg="diagnostic_common_diagnostics" type="sensors_monitor.py" output="screen">
        <param name="ignore_fans" value="true"/>
    </node>

    <node name="nvidia_monitor" pkg="computer_monitor" type="nvidia_temp.py">
        <param name="xml" value="True"/>
    </node>

    <node name="tf_monitor" pkg="diagnostic_common_diagnostics" type="tf_monitor.py" />

    <!--node name="monitor" pkg="runtime_monitor" type="monitor" /-->

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
        <rosparam command="load" file="$(find Launch)/golfcar/analyzers.yaml" />
    </node>

    <node pkg="robot_monitor" type="robot_monitor" name="robot_monitor"/>
</launch>
