<launch>
	<rosparam command="load" file="$(find golfcar_odom)/launch/low_pass.yaml"/>
	<node pkg="golfcar_odom" type="speedFilter" name="speedFilter"/>
    <node pkg="scan_assemble" type="scan_assemble" name="scan_assemble"/>
    <node pkg="scan_verti"    type="scan_verti"    name="scan_verti"/>
	<!--node pkg="golfcar_odom" type="golfcar_odom_imu2" name="golfcar_odom">
		<remap from="/imu/data" to="/ms/imu/data"/>
	</node-->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find hybrid_amcl)/worlds/curb_map.yaml">
		<remap from="static_map" to="static_curb_map"/>
		<remap from="map" to= "curb_map"/>
	</node>

	<node pkg="map_server" type="map_server" name="map_server2" args="$(find hybrid_amcl)/worlds/planar_map.yaml">
		<remap from="static_map" to="static_planar_map"/>
		<remap from="map" to= "planar_map"/>
	</node>
    <node pkg="robust_road_detection" type="curb_detect" name="curb_detect">
	</node>
	<!--node pkg="curb_amcl" type="curb_crossing" name="curb_crossing"/-->
	<node pkg="hybrid_amcl" type="mix_amcl" name="mix_amcl" output="screen">
            <param name="max_particles" value="1000"/>
            <param name="min_particles" value="200"/>
        </node>
</launch>

