<launch>
    <node pkg="feature_detection" type="cluster_filter.py" name="cluster_filter" output="screen" args="'width &lt; 3.0 and depth &lt; 1.5 and dist &lt; 20'">
        <remap from="cluster_filter_in" to="pedestrian_clusters"/>
        <remap from="cluster_filter_out" to="pedestrian_clusters_filtered"/>
    </node>
    
    <include file="$(find feature_detection)/visualizer.launch"/>
    <node pkg="sensing_on_road" type="camera_project_pcl" name="camera_project_pcl">
	    <remap from="camera_project_in" to="pedestrian_clusters_filtered"/>
	</node>
	<include file="$(find Launch)/golfcar/pedestrian_detection_laser.launch"/>
    <node pkg="pedestrian_detector" type="classifier" name="classifier" output="screen">
    	<param name="image_transport" value="compressed"/>
    	<remap from="image_raw" to="usb_cam/image_raw"/>
	    <param name="hit_threshold" value="1.5"/>
	    <param name="scale" value="1.05"/>
	    <param name="group_threshold" value="2.0"/>
	    <param name="show_processed_image" value="false"/>
	    <param name="black_front_roi" value="true"/>
	    <param name="write_image" value="false"/>
	    <param name="path" value="/media/MyPassport/ped_cand"/>
	    <remap from="pd_vision_batch" to="pedestrian_clusters_filtered"/>
	</node>
	<include file="$(find dataAssoc_experimental)/dataAssoc.launch"/>
	
</launch>

