<launch>
    <node pkg="golfcar_route_planner" type="route_planner_node" name="route_planner" output="screen">
        <param name="dummy_vehicle" value="true"/>
        <param name="use_dbserver" value="false"/>
    </node>
    <node pkg="golfcar_ppc" type="speed_advisor" name="speed_advisor" output="screen">
        <rosparam file="$(find Launch)/golfcar/speed_advisor.yaml" command="load"/>
    </node>
</launch>
