<launch>
    <!--<include file="$(find utown_plaza)/run_simulation/rviz.launch" />-->
    <include file="$(find utown_plaza)/run_simulation/simulation.launch" />
    <include file="$(find utown_plaza)/run_simulation/momdp.launch" />
    <include file="$(find utown_plaza)/run_simulation/pathplan.launch" />
	<!--<node pkg="utown_plaza" type="record.sh" name="bag_recorder" cwd="node" required="true"/>-->
    <!--<node pkg="utown_plaza" type="play_ped_bag.py" name="ped_player" cwd="node" required="true"/>-->
</launch>

