<launch>

	<node pkg="velmixer" type="vel_miexer" name="vel_mixer" respawn="false"/>

    <!--<node name="ped_pomdp" pkg="ped_momdp_sarsop" type="ped_pomdp" launch-prefix="gdb -ex run - -args" respawn="false" output="screen" required="true">-->
    <!--<node name="ped_pomdp" pkg="ped_momdp_sarsop" type="ped_pomdp" launch-prefix="valgrind - -tool=callgrind" respawn="false" output="screen" required="true">-->
    <node name="ped_pomdp" pkg="ped_momdp_sarsop" type="ped_pomdp"  respawn="false" output="screen" required="true">
        <rosparam file="$(find ped_momdp_sarsop)/params.yaml" command="load" />
		<param name="simulation" value="true"/>
		<remap from="robot_0/amcl_pose" to="amcl_pose"/>
		<remap from="odom" to="odom"/>
		<remap from="pomdp_path_repub" to="new_global_plan"/>
	</node>

	<node name="ped_momdp_local_transform" pkg="ped_momdp_sarsop" type="local_frame">
		<param name="simulation" value="true"/>
        <remap from="plan" to="new_global_plan" />
		<param name="threshold" value="0.0"/>
	</node>

	<node name="vel_publisher" pkg="ped_momdp_sarsop" type="vel_publisher" >
		<remap from="cmd_vel" to="cmd_speed"/>
	</node>

</launch>
