	<launch>	

	<node pkg="velmixer" type="vel_miexer" name="vel_mixer" respawn="false"/>

		<node name="ped_momdp" pkg="ped_momdp_sarsop" type="ped-momdp-sarsop"  respawn="false" output="screen" >
		<param name="simulation" value="false"/>
		<remap from="robot_0/amcl_pose" to="amcl_pose"/>
		<remap from="odom" to="odom"/>
        <remap from="plan" to="/new_global_plan" />
		</node>

		<node name="ped_momdp_local_transform" pkg="ped_momdp_sarsop" type="local_frame">  
		<param name="threshold" value="0.0"/>
		</node>

		<node name="vel_publisher" pkg="ped_momdp_sarsop" type="vel_publisher" >
		<remap from="cmd_vel" to="cmd_speed"/>
		</node>


		</launch>
