<launch>
    <node pkg="vision_cp" type="visionCP" name="visionCP" ns="robot_2">
	<param name="image_transport" value="compressed"/>
	<param name="binary_thresh" value="30"/>
	<param name="cvpoly_thresh" value="10"/>
	<param name="rect_height" value="0.185"/>
	<param name="rect_width" value="0.255"/>

    </node>
</launch>
