<launch>
    <!--robot1-->
    <!--camera-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrsPCL" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrs 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrs1" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrs0 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrs2" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrs1 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrs3" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrs2 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrs4" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrs3 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrsAssemble" args="1.7, 0.0, 0.92 0 0 0 /base_link /ldmrsAssemb 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_front_base" args="1.795, 0.0, 0.97 -0.0 0.15 -0.0 /base_link /camera_front_base 100" />
    <node pkg="tf" type="static_transform_publisher" name="camera_rear_front_to_img" args="0.0, 0.0, 0.0 -1.5707963267949 0.0 -1.5707963267949 /camera_front_base /camera_front_img 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_front_base" args="1.5, 0.0, 1.7 -0.0 0.19 -0.0 /robot_1/base_link /robot_1/camera_base 100" ns="robot_1"/>

    <node pkg="tf" type="static_transform_publisher" name="camera_front_base_to_img" args="0.0, 0.0, 0.0 -1.5707963267949 0.0 -1.5707963267949 /robot_1/camera_base /robot_1/camera_image 100" ns="robot_1" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_board" args="0.0, 0.1, 0.98 0.0 -1.5707963267949 0.0 /robot_1/base_link /robot_1/board 100" ns="robot_1"  />
    <!--laser-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_robot1_scan" args="1.45, 0.0, 1.39 0 0 0 /robot_1/base_link /robot_1/laser 100" />

    <!--robot2-->
    <!--camera-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_front_base" args="1.5, 0.0, 1.73 -0.0 0.3 -0.0 /robot_2/base_link /robot_2/camera_base 100" ns="robot_2"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_front_base_to_img" args="0.0, 0.0, 0.0 -1.5707963267949 0.0 -1.5707963267949 /robot_2/camera_base /robot_2/camera_image 100" ns="robot_2" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_board" args="0.0, 0.30, 0.98 0.0 -1.5707963267949 0.0 /robot_2/base_link /robot_2/board 100" ns="robot_2"  />
    <!--laser-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_robot2_scan" args="1.45, 0.0, 1.39 0 0 0 /robot_2/base_link /robot_2/laser 100" />
</launch>
