<launch>
	 <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false"/>
	 <node pkg="stage" type="stageros" name="stageros" args="$(find golfcar_ppc)/worlds/golfcar_blank.world" respawn="false">
   		 <param name="base_watchdog_timeout" value="0.2"/>
   		 <remap from="base_scan" to="scan"/>
  	</node>
	<node pkg="golfcar_traj_gen" type="path" name="path_gen"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find Launch)/nav_simulationPP.vcg" respawn="false"/>
  	<param name="use_sim_time" value="true"/>
  <node pkg="speed_advisor" type="speed_advisor" name="speed_advisor" output="screen">
        <rosparam file="$(find golfcar_traj_gen)/speed_advisor.yaml" command="load"/>
  </node>
</launch>

