<launch>
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_hokuyolaser" args="1.83, 0.0, 0.57 0.00 0 0 /base_link /laser 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_sicklaser" args="1.7, 0.0, 1.45 0 0.35 0 /base_link /sick_laser 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_sicklaser2" args="1.7, 0, 1.85 0 0 0 /base_link /sick_laser2 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_camerabase" args="1.7, 0.0, 1.45 0 0.15 0 /base_link /camera_base 100" />
</launch>
	
