<launch>

  <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_sickldmrsPCL" args="0, 0, 0 0 0 0 /LRollTF /left/laser 10" /-->

  
  <!--node pkg="joy" name="joypad" type="joy_node"/-->
  
  <node pkg="tf" type="static_transform_publisher" name="left_static" args="0 .75 1.69 .785 0 0 world LStaticFrame 100" />
 
  <node pkg="tf" type="static_transform_publisher" name="right_static" args="0 -.75 1.69 -.785 0.0 0  world RStaticFrame 100" />
 
  <node pkg="LMS1xx" name="lidar" ns="left" type="LMS100">
         <param name="host" value="192.168.1.201" />
         <param name="frame_id" value="LRollTF" />  </node>
 
  <node pkg="LMS1xx" name="lidar" ns="right" type="LMS100">
         <param name="host" value="192.168.1.202" />
         <param name="frame_id" value="RRollTF" />
  </node>
 
  <node pkg="rosserial_python" name="serial" type="serial_node.py">
         <param name="~port" value="/dev/ttyACM0" />
  </node>
  
  <node pkg="cawcatcher" name="listener" type="listener"/>
  <node pkg="cawcatcher" name="Sweep" type="Sweep"/>
  
  <!--node pkg="rviz" type="rviz" name="rviz"/-->
  
</launch>

