<launch>
    <node name="rear_hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
        <remap from ="scan" to="hokuyo_scan"/>
        <param name="calibrate_time" type="bool" value="false"/>
        <param name="frame_id" value="hokuyo_laser"/>
        <param name="port" type="string" value="/dev/hokuyo"/>
        <param name="min_ang" type="double" value="-1.48"/>
        <param name="max_ang" type="double" value="1.48"/>
        <param name="intensity" type="bool" value="false"/>
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_hokuyolaser" args="1.7, 0.05, 0.90 0.00 0 0 /base_link /hokuyo_laser 100" /-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_hokuyolaser" args="0.13, 0.0, 0.65 M_PI 0 M_PI /base_link /hokuyo_laser 100" />
</launch>
