<launch>
    <!--include file="$(find Launch)/golfcar/sensors/sicks_tf_july2011.launch"/-->
    <!--include file="$(find Launch)/golfcar/sensors/sicks_tf.launch"/>    
    <include file="$(find Launch)/golfcar/1LowLevel.launch"/-->
    
    <node pkg="scan_assemble" type="scan_assemble" name="scan_assemble"/>
    <node pkg="robust_road_detection" type="curb_detect" name="curb_detect">
        <remap from="odom" to="odom"/>
    </node>
    <node pkg="robust_road_detection" type="road_surface_removal" name="road_surface_removal"/>
    
    <node pkg="norm_virtual_sensor" type="norm_virtual_sensor" name="norm_virtual_sensor" output="screen">
    	<remap from="sick_scan2" to="sick_scan0"/>
    </node>    
        
</launch>
