<launch>
    <param name="use_sim_time" value="true"/>
	
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_front_base" args="1.75, 0.0, 1.32 -0.0 0.21 -0.0 /base_link /camera_front_base 100" />
	<node pkg="tf" type="static_transform_publisher" name="camera_front_base_to_img" args="0.0, 0.0, 0.0 -1.5707963267949 0.0 -1.5707963267949 /camera_front_base /camera_front_img 100" />
	
    <include file="$(find Launch)/golfcar/sensors/sicks_tf.launch"/>
    <include file="$(find multiple_amcl)/launch/odom_sim.launch"/>
</launch>

