<launch>
	 <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false">
	</node>
	 <node pkg="stage" type="stageros" name="stageros" args="$(find pedestrian_mdp)/world/golfcar_blank.world" respawn="false">
   		 <param name="base_watchdog_timeout" value="0.2"/>
		<param name="frame_id" value="odom"/>
  	</node>
	<node pkg="map_server" type="map_server" name="map_server" args="$(find pedestrian_mdp)/world/map.yaml"/>
  	<param name="use_sim_time" value="true"/>
	
</launch>

