<launch>
	<node pkg="feature_detection" type="ped_clustering" name="ped_clustering" output="screen" ns="golfcart">
        <remap from="scanN" to="front_bottom_scan"/>
        <remap from="sickldmrs/cloud" to="sickldmrs/cloud"/>
        <param name="prior_distance_filter" value="0.2"/>
        <param name="radius" value="6"/>
        <param name="use_octomap" value="false"/>
        <param name="global_frame" value="/golfcart/odom"/>
        <param name="laser_frame" value="/golfcart/front_bottom_lidar"/>
    </node>
    
    <node pkg="feature_detection" type="cluster_filter.py" name="cluster_filter" output="screen" args="'width &lt; 3.0 and depth &lt; 1.5 and dist &lt; 20'" ns ="golfcart">
        <remap from="cluster_filter_in" to="pedestrian_clusters"/>
        <remap from="cluster_filter_out" to="pedestrian_clusters_filtered"/>
    </node>

    <include file="$(find feature_detection)/visualizer.launch" ns="golfcart"/>
    
    <node pkg="sensing_on_road" type="camera_project_pcl" name="camera_project_pcl" ns="golfcart">
	    <remap from="camera_project_in" to="pedestrian_clusters_filtered"/>
	</node>
	
	<!--include file="$(find Launch)/golfcar/pedestrian_detection_laser.launch" ns="golfcart"/-->
	
    <node pkg="pedestrian_detector" type="classifier" name="classifier" output="screen" ns="golfcart">
    	<param name="image_transport" value="compressed"/>
	    <param name="hit_threshold" value="1.5"/>
	    <param name="scale" value="1.05"/>
	    <param name="group_threshold" value="2.0"/>
	    <param name="show_processed_image" value="false"/>
	    <param name="black_front_roi" value="true"/>
	    <param name="write_image" value="false"/>
	    <param name="path" value="/media/MyPassport/ped_cand"/>
	    <remap from="pd_vision_batch" to="pedestrian_clusters_filtered"/>
	    <param name="camera_base_id" value = "/golfcart/camera_front_base"/>
	</node>
	
	<node pkg="dataAssoc_experimental" type="dataAssoc" name="dataAssoc"  ns="golfcart" output="screen">
	    <param name="global_frame" value="golfcart/odom"/>
	    <param name="camera_frame" value="golfcart/camera_front_base"/>
	    <param name="time_out" value="1.0"/>
	    <param name="poll_increment" value="0.1"/>
	    <param name="poll_decrement" value="0.05"/>
	    <param name="confirm_threshold" value="0.3"/>
	    <remap from="pedestrian_clusters" to="pedestrian_clusters_filtered"/>
	    <remap from="ped_vision" to="veri_pd_vision"/>
	    <param name="image_transport" value="compressed"/>
	</node>
	
</launch>

