<launch>

<node pkg="feature_detection" type="cluster_filter.py" name="cluster_filter" output="screen" args="'width &lt; 3.0 and depth &lt; 1.5 and dist &lt; 100'" ns ="golfcart">
<remap from="cluster_filter_in" to="pedestrian_clusters"/>
<remap from="cluster_filter_out" to="pedestrian_clusters_filtered"/>
</node>


<!--
<node pkg="sensing_on_road" type="camera_project_pcl" name="camera_project_pcl" ns="golfcart">
<remap from="camera_project_in" to="pedestrian_clusters"/>
</node>
-->

<node pkg="laser_clustering_known_environment" type="ped_clustering_laser_only" name="ped_clustering">
<!--<param name="dist_thres" value="1.0"/>-->
<param name="dist_thres" value="1.0"/>
<param name="svg_file" value="$(find laser_clustering_known_environment)/utown_exp_launch_files/utown_plaza_ped_boundary_small.svg"/>
<!--<param name="svg_file" value="$(find laser_clustering_known_environment)/utown_exp_launch_files/utown_plaza_ped_boundary.svg"/>-->
</node>

<node pkg="dataAssoc_experimental" type="dataAssoc" name="dataAssoc"  ns="golfcart" output="screen">
<param name="global_frame" value="/golfcart/map"/>
<param name="camera_frame" value="/golfcart/camera_front_base"/>
<param name="time_out" value="0.1"/>
<remap from="pedestrian_clusters" to="pedestrian_clusters_filtered"/>
<remap from="ped_vision" to="veri_pd_vision"/>
<param name="image_transport" value="compressed"/>
</node>


</launch>
