<launch>
  <node pkg="gscam" type="gscam" name="gscam">
    <param name="port" value="1234"/>
  </node>
  <node pkg=image_view" type="image_view" name="rtp_stream_img">
    <remap from="image" to="gscam/image_raw"/>
    <param name="image_transport" to="compressed"/>
  </node>
  <node pkg="oculus_driver" type="oculus_node" name="oculus_node"/>
  <node pkg="oculus_viewer" type="image_distort_viewer" name="image_distort_viewer"/>
</launch>