<launch>
  <node pkg="gscam" type="opencv_gscam" name="opencv_gscam">
    <param name="receiver_address" value="192.168.0.4"/>
    <param name="port" value="1234"/>
    <param name="img_width" value="640"/>
    <param name="img_height" value="240"/>
    <param name="frame_rate" value="30"/>
    <param name="bitrate" value="400"/>
  </node>
  <node pkg="pan_tilt_udp_remap" type="pan_tilt_udp_remap" name="pan_tilt_udp_remap"/>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="/dev/ttyACM1"/>
  <node pkg="kbd_joy_control" type="joy_logitech_momo_iMiev" name="joy_logitech_momo_iMiev" ns="iMiev" output="screen"
/>
</launch>
