<launch>
  <node pkg="gscam" type="gscam" name="gscam">
    <param name="port" value="1234"/>
  </node>
  <node pkg="image_view" type="image_view" name="rtp_stream_img">
    <remap from="image" to="gscam/image_raw"/>
    <param name="image_transport" value="compressed"/>
  </node>
  <node pkg="oculus_driver" type="oculus_node" name="oculus_node"/>
  <node pkg="oculus_viewer" type="image_distort_viewer" name="image_distort_viewer"/>
  <node pkg="read_network_usage" type="read_bandwidth_usage.py" name="read_client_bandwidth" >
	<param name="script_path" value="(find read_network_usage)/src" />
	<param name="network_port" value="ppp0" />
	<remap from="network_usage" to="client_network_usage" />
  </node>
</launch>
